{% extends "registration/registration_base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block title %}{% trans "Reset password" %}{% endblock %}

{% block content %}

    <section class="section bg-cover bg1">
        <div class="container light-text align-center">
            <h5 class="heading-alt">Password Reset</h5>
            <p class="text-alt" style="margin-bottom: 0px;"><span class="highlight">Reset</span> your password by entering your email in the form below. We will send you instructions for creating a new one.</p>
        </div>
        <br/><br/>


        <div class="container">
                <form method="post" action="" class="form registration-form align-left">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <center><input class='btn btn-primary btn-lg' type="submit" value="{% trans 'Reset password' %}" /></center>
                </form>
                 <br/><br/> <br/><br/><br/><br/> <br/><br/><br/><br/> <br/><br/><br/>
        </div>
    </section>
    <section style="height: 0px">

        <div class="footer-base" style="height: 95px">
            <div class="container">

            </div>
        </div>
    </section>
{% endblock %}


{# This is used by django.contrib.auth #}
