{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Password reset" %}{% endblock %}

{% block content %}
	<section class="section align-center">
		<div class="container">
			<h5 class="heading-alt">Password Reset</h5>
			<p class="text-alt" style="margin-bottom: 0px;"><span class="highlight">We have sent</span> you a link to reset your password. Please check
    		your email and click the link to continue.</p>
		</div>
	</section>

{% endblock %}


{# This is used by django.contrib.auth #}
