{% extends "registration/registration_base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block title %}{% trans "Confirm password reset" %}{% endblock %}

{% block content %}
	<section class="section align-center">
		<div class="container">
			<h5 class="heading-alt">Password Reset</h5>
			<p class="text-alt" style="margin-bottom: 0px;">Enter your new password below to reset your password:</p>
		</div>
	</section>

<div class="row">
  <div class="col-md-8">
		<form method="post" action="" style="position: relative; left: 30px;">
		    {% csrf_token %}
		    {{ form|crispy }}
		    <input class='btn btn-primary btn-lg' type="submit" value="{% trans 'Set password' %}" />
		</form>
	</div>
</div>
{% endblock %}


{# This is used by django.contrib.auth #}
