{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Password reset complete" %}{% endblock %}

{% block content %}
	<section class="section align-center">
		<div class="container">
			<h5 class="heading-alt">Password Reset Complete</h5>
			<p class="text-alt" style="margin-bottom: 0px;">Your password has been reset! You may now <a href="{{ login_url }}">log in</a></p>
		<br/><br/>
	<a href="/accounts/login/" class="btn btn-md">Login to Dashboard</a>

		</div>
	</section>

{% endblock %}


{# This is used by django.contrib.auth #}
