{% load staticfiles %}
<!DOCTYPE html>
<html lang="en-us">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<title>
SSUNS 2016 - Our Sponsors </title>
<link rel='shortcut icon' type='image/x-icon' href='/favicon.ico'/>
<!-- Bootstrap Core CSS -->
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
<!-- Google Font Raleway -->
<link href='http://fonts.googleapis.com/css?family=Raleway:400,100,700,300' rel='stylesheet' type='text/css'>
<!-- Font Awsome Icons CSS -->
<!-- <link href="css/font-awesome.min.css" rel="stylesheet"> -->
<link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
<!-- Custom CSS -->
<!-- <link href="css/custom.css" rel="stylesheet"> -->
<link href="{% static 'css/custom.css' %}" rel="stylesheet">
<!-- Colors and Backgrounds CSS -->
<!-- <link href="css/colors_2.css" rel="stylesheet"> -->
<link href="{% static 'css/colors_2.css' %}" rel="stylesheet">
<link href="{% static 'css/calc.css' %}" rel="stylesheet">
</head>
<body>
<div id="preloader">
  <div class="pre_container">
    <div class="loader">
    </div>
  </div>
</div>
<!-- Fixed navbar -->
<nav class="navbar nav_mask_full">
<div class="navi_container">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
    <span class="sr-only">
    Toggle navigation </span>
    <span class="icon-bar">
    </span>
    <span class="icon-bar">
    </span>
    <span class="icon-bar">
    </span>
    </button>
    <a class="navbar-brand" href="/">
    SSUNS 2016 </a>
  </div>
  <div id="navbar" class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
      <li>
      <a href="/about/">
      About </a>
      </li>
      <li>
      <a href="/team/">
      Team </a>
      </li>
      <li>
      <a href="/registration/">
      Registration and Travel Info </a>
      </li>
      <li>
      <a href="/committees/">
      Committees </a>
      </li>
      <li>
      <a href="/staff/">
      Staff </a>
      </li>
      <li>
      <a href="/contact/">
      Contact Us </a>
      </li>
      <li>
      <a href="/faq/index/">
      FAQ </a>
      </li>
    </ul>
  </div>
  <!--/.nav-collapse -->
</div>
<!--/.nav-collapse -->
</nav>
<div class="antigap">
</div>
<div class="reservation">
  <div class="gap">
  </div>
 <!--  <div class="first_line wow fadeInDown">
  </div> -->
  <div class="first_title wow fadeInDown">
    <p style="padding-left:3.4em">
      Our Partners
    </p>
  </div>
  <div class="first_description wow fadeInDown">
    <p>
       If you would like to collaborate with SSUNS, send a message to pr@ssuns.org and we’ll be happy to get back to you.
    </p>
  </div>
  
  
  <div class="first_description wow fadeInDown">
    <p>
       Special thanks go out to:
    </p>
  </div>
  <div class="gap">
  </div>
  <div class="sponsor_box">
    <div class="sponsor_featured wow fadeInDown">
      <div class="image_featured">
        <img src="{% static 'images/logos/evo.png' %}" width="200" height="200" alt="img09"/>
      </div>
    </div>
    <div class="sponsor_featured wow fadeInDown">
      <div class="image_featured">
        <img src="{% static 'images/logos/huron.png.jpg' %}" width="200" height="200" alt="img09"/>
      </div>
    </div>
    <center>
    <div class="sponsor_basic wow fadeInDown">
      <div class="image_featured">
        <img src="{% static 'images/logos/bu.png.jpg' %}" width="1000" height="100" alt="img09"/>
      </div>
    </div>
    <div class="sponsor_basic wow fadeInDown">
      <div class="image_featured">
        <img src="{% static 'images/logos/mount.png.jpg' %}" width="1000" height="100" alt="img09"/>
      </div>
    </div>
    <div class="sponsor_basic wow fadeInDown">
      <div class="image_featured">
        <img src="{% static 'images/logos/shad.png.jpg' %}" width="1000" height="100" alt="img09"/>
      </div>
    </div>
    </center>
    </div>
    <div class="gap">
    </div>
  </div>
</div>
<!-- End Reservation -->
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- SSUNS -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-3016886632080186"
     data-ad-slot="1930765756"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
<footer>
<a href="http://eepurl.com/bDIMQ9"> <marquee behavior="scroll" direction="left">SSUNS 2016 - November 10th - 13th. Check out our facebook, twitter, linkedin, and instagram! Links below. </marquee> </a>

    <div class="footer">
      <a href="https://www.facebook.com/officialssuns" class="contact_icon fa fa-facebook">
      </a>
      <a href="https://twitter.com/ssuns_official" class="contact_icon fa fa-twitter">
      </a>
      <a href="https://ca.linkedin.com/company/international-relations-students%27-association-of-mcgill-inc-" class="contact_icon fa fa-linkedin">
      </a>
      <a href="https://instagram.com/ssuns_official/" class="contact_icon fa fa-instagram">
      </a>
      <p class="copyright"><span>&copy;</span>Copyright SSUNS <span>2016</span>Design by USG-IT</p>
    </div>
</footer>
<!-- Scripts -->
<script type="text/javascript" src="{% static 'js/jquery-2.1.3.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/minify.js' %}"></script>
<script type="text/javascript" src="{% static 'js/calc.js' %}"></script>
</body>
</html>