{% load staticfiles %}
<!DOCTYPE html>
<html lang="en-us">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<title>
SSUNS 2016 - Staff </title>
<link rel='shortcut icon' type='image/x-icon' href='/favicon.ico'/>
<!-- Bootstrap Core CSS -->
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
<!-- Google Font Raleway -->
<link href='http://fonts.googleapis.com/css?family=Raleway:400,100,700,300' rel='stylesheet' type='text/css'>
<!-- Font Awsome Icons CSS -->
<!-- <link href="css/font-awesome.min.css" rel="stylesheet"> -->
<link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
<!-- Custom CSS -->
<!-- <link href="css/custom.css" rel="stylesheet"> -->
<link href="{% static 'css/custom.css' %}" rel="stylesheet">
<!-- Colors and Backgrounds CSS -->
<!-- <link href="css/colors_2.css" rel="stylesheet"> -->
<link href="{% static 'css/colors_2.css' %}" rel="stylesheet">
<link href="{% static 'css/calc.css' %}" rel="stylesheet">
</head>
<body>
<div id="preloader">
  <div class="pre_container">
    <div class="loader">
    </div>
  </div>
</div>
<!-- Fixed navbar -->
<nav class="navbar nav_mask_full">
<div class="navi_container">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
    <span class="sr-only">
    Toggle navigation </span>
    <span class="icon-bar">
    </span>
    <span class="icon-bar">
    </span>
    <span class="icon-bar">
    </span>
    </button>
    <a class="navbar-brand" href="/">
    SSUNS 2016 </a>
  </div>
  <div id="navbar" class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
      <li>
      <a href="/about/">
      About </a>
      </li>
      <li>
      <a href="/team/">
      Team </a>
      </li>
      <li>
      <a href="/registration/">
      Registration and Travel Info </a>
      </li>
      <li>
      <a href="/committees/">
      Committees </a>
      </li>
      <li>
      <a class="active" href="/staff/">
      Staff </a>
      </li>
      <li>
      <a href="/contact/">
      Contact Us </a>
      </li>
    </ul>
  </div>
  <!--/.nav-collapse -->
</div>
<!--/.nav-collapse -->
</nav>
<div class="antigap">
</div>
<!-- Page Content -->

<div class="clear">
</div>
<div class="wow fadeIn tabs_about">
  <div class="mask">
    <ul class="menu_tabs" role="tablist">
      
      <li class="active">
      <a class="wow btn eventime_button graybtn" data-toggle="tab" role="button" href="#sectionB">
     Letter </a>
      </li>
      <li>
      <a class="wow btn eventime_button graybtn" data-toggle="tab" role="button" href="#sectionC">
      Positions </a>
      </li>
      <li>
      <a class="wow btn eventime_button graybtn" data-toggle="tab" role="button" href="#sectionD">
      FAQ </a>
      </li>
      <li>
      <a class="wow btn eventime_button graybtn" data-toggle="tab" role="button" href="#sectionF">
      Apply Now </a>
      </li>
    </ul>
    <div class="tab-content">
      <div id="sectionB" class="tab-pane fade in active">
      <div class="speakers_description">
      <p>
      Dear Prospective Staff, <br> <br>

Thank you for your interest in joining Secondary Schools’ United Nations Symposium 2015! 

Whether you are a devout Model United Nations participant or you are looking to join our 

conference for the first time, staffing at SSUNS promises to be an engaging, exciting and 

rewarding experience. Entering its 23rd year, SSUNS provides the opportunity for high school 

students to delve into the core workings of the United Nations by simulating committee sessions 

from our wide committee roster, creating thrilling, intense and challenging debate. <br> <br>

What makes SSUNS so successful is motivated individuals, who work diligently behind the 

scenes to create an exceptional conference. SSUNS welcomes staffers with a variety of 

interests and experiences to join our team. For those looking for leadership roles, our extensive 

coordinator roles are an excellent way to work closely with secretariat and staffers alike to 

manage your own area for the conference. For roles that are less of a time commitment but 

equally integral to the conference, there are a variety of staffing positions to help out in all areas 

of SSUNS! <br> <br>

If you wish to join the SSUNS team in any such capacity, please fill out our application form. 

If you have any questions or inquiries, please do not hesitate to contact me at staff@ssuns.org. 

I look forward to working closely with you and over a hundred other staff members to make 

SSUNS 2015 the best conference yet! <br> <hr>

Sincerely, <br> <br>

Iman Lahouaoula <br>

Chief of Staff <br>

Secondary Schools’ United Nations Symposium 2015<br>
</p>

      </div>
      </div>
      
      <div id="sectionC" class="tab-pane fade">
      
      <div class="title_center">

 Coordinator Positions:
</div> <br>
      <div class="speakers_description">
        <p style="font-weight:bold">
Page Coordinator: 
</p>

The Page Coordinators are responsible for handling and communicating with all the 

pages leading up to and throughout the conference. <br> <br>

<p style="font-weight:bold">
Delegate Resource Center Coordinator:
</p>

The Delegate Resource Center Coordinators are responsible for the delegate resource 

centre during SSUNS. This includes selling merchandise, providing information to 

SSUNS attendees and maintaining the room.  <br> <br>

<p style="font-weight:bold">
Staff Room Coordinator:
</p>

The Staff Room Coordinators are responsible for the staff room during SSUNS. This 

includes all equipment assigned to committees, printing resolutions for committees as 

well as maintaining the hub for all staff.  <br> <br>

<p style="font-weight:bold">
Events Coordinator:
</p>
The Events Coordinators are responsible for all the events leading up to and during the 

conference. Evens they are responsible for include staff hype night, staff bar night, the 

delegate dance as well as staff appreciation night.  <br> <br>

<p style="font-weight:bold">
Food Coordinator:
</p>
The Food Coordinators will be responsible for arranging all the food and snacks given to 

staff members, secretariat and coordinators during SSUNS. They will need to speak 

with local Montreal restaurants to negotiate deals. They will also need to organize and 

pick up the food, hence a valid driver’s license in Montreal is preferred.  <br> <br>

<p style="font-weight:bold">
Operations Coordinator:
</p>
The Operations Coordinators are responsible for the operations throughout the 

conference, generally relating to anything and everything technical and logistical.  <br> <br>

<p style="font-weight:bold">
Opening and Closing Ceremony Coordinator:
</p>
The Opening and Closing Ceremony coordinators are responsible for organizing and 

preparing all necessary materials as well as controlling the flow of opening and closing 

ceremonies. On the Friday and Saturday of SSUNS, these coordinators will work as 

“floaters” assisting in a variety of areas during the conference. <br> <br>

<p style="font-weight:bold">
Photography Coordinator:
</p>
The photography coordinator is responsible for all official pictures of events leading up 

to and throughout SSUNS. They are responsible for taking photos and editing them for 

official use for SSUNS. <br> <br>

<p style="font-weight:bold">
Videography Coordinator:
</p>
The Videographer coordinator is responsible for all videos taken before and during 

SSUNS. These include short hype videos (pre-conference) as well as opening and 

closing ceremony videos. They are responsible for coming up with creative footage and 

compiling all of it for the official use for SSUNS.  <br> <br>

<div class="title_center">
Staffing Positions: 
</div> <br>

<p style="font-weight:bold"> Committee Staff: </p>

Committee Director <br>

Crisis Staffer <br> <br>

<p style="font-weight:bold"> Logistical Staff: </p>

Page <br>

Staff Room Assistant <br> 

Delegate Resource Centre Assistant <br>

Events Staff <br>

Food Staff <br>

Photography Staff <br> <br>

</div>


<p style="font-weight:bold">
More information regarding committee and logistical staffing positions will be available 

soon!
</p>
</p>
      </div>
      
      <div id="sectionD" class="tab-pane fade">
     <div class="title_center">
  Frequently Asked Questions
</div>

<div class="center_line">
</div>
<div class="speakers_description">
   <p style="font-style:italic"> Who can apply? </p>

Anyone who currently studies at McGill University; students from all majors and years 

are welcome to apply. <br> <br>

<p style="font-style:italic"> Can I be a coordinator and a committee/logistical staffer? </p>

Due to the responsibilities of each position, you cannot be both a coordinator and a 

regular staffer. <br> <br>

<p style="font-style:italic"> What is the main difference between a coordinator or a committee/logistical staffer? </p>

The main difference between coordinators and regular staffers is the time and work 

commitment. <br>

Coordinators are assigned to a specific organizational responsibility, carried out prior to 

and during the conference. Thus, coordinators must be willing to commit more of their 

personal time to SSUNS. <br>

Staffers assist dais members and coordinators throughout the weekend of the 

conference. Otherwise, there is minimal effort required on their end for pre-conference 

preparation. <br> <br>

 

<p style="font-style:italic"> When do applications open? </p>

Coordinator applications: August 31 <br>

Staff applications: OPEN NOW <br> <br>

<p style="font-style:italic"> When is the deadline? </p>

Coordinator applications: Saturday September 12 at 11:59pm <br>

Staff applications: Friday October 2, 2015 at 11:59pm <br> <br>

<p style="font-style:italic"> Do I need to submit anything extra? </p>

Applicants for Photography and Videography coordinator and/or staffers must submit a 

piece of their work to staff@ssuns.org <br>

Nothing else is required of other applicants. <br> <br>

<p style="font-style:italic"> Where can I apply? </p>

<p style="color:#F00">
Please click on the "Apply Now" tab above. 
</p>
<br>
</div>

<p style="font-style:italic"> Who do I contact for any questions? </p>

Iman Lahouaoula, Chief of Staff <br>

staff@ssuns.org  <br> <br>
     
     </div>
     
     <div id="sectionF" class="tab-pane fade">
<iframe src="https://docs.google.com/forms/d/163IRZCo-kqj9Wv-WfmaLdpIGW11Vpj0MtLSOJ1GP6bw/viewform?embedded=true" width="760" height="1000" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
<br> <br>

</div>
    
    
    
    </div>
  </div>
</div>
<!-- End About -->


<footer>
    <div class="footer">
      <a href="https://www.facebook.com/officialssuns" class="contact_icon fa fa-facebook">
      </a>
      <a href="https://twitter.com/ssuns_official" class="contact_icon fa fa-twitter">
      </a>
      <a href="https://ca.linkedin.com/company/international-relations-students%27-association-of-mcgill-inc-" class="contact_icon fa fa-linkedin">
      </a>
      <a href="https://instagram.com/ssuns_official/" class="contact_icon fa fa-instagram">
      </a>
      <p class="copyright"><span>&copy;</span>Copyright SSUNS <span>2015</span>Design by USG-IT</p>
    </div>
</footer>

<!-- Scripts -->
<script type="text/javascript" src="{% static 'js/jquery-2.1.3.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/minify.js' %}"></script>
<script type="text/javascript" src="{% static 'js/calc.js' %}"></script>
</body>
</html>