{% load crispy_forms_tags %}

{% load staticfiles %}
<!doctype html>
<html lang="en">
<head>

	<meta charset="utf-8">
	<!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
	<title>SSUNS 2016</title>

	<meta name="description" content="SSUNS 2016">
	<meta name="keywords" content="modelUN, unitednations, mcgill">
	<meta name="author" content="Patrick Baral">

	<link rel="shortcut icon" href="{% static 'assets/img/favicon.ico' %}">
	<link rel="apple-touch-icon" href="{% static 'assets/img/apple-touch-icon.jpg' %}">
	<link rel="apple-touch-icon" sizes="72x72" href="{% static 'assets/img/apple-touch-icon-72x72.jpg' %}">
	<link rel="apple-touch-icon" sizes="114x114" href="{% static 'assets/img/apple-touch-icon-114x114.jpg' %}">

	<link rel="stylesheet" type="text/css" href="{% static 'assets/css/custom-animations.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'assets/css/style-blue-color.css' %}" />

	

	<!--[if lt IE 9]>
		<script src="assets/js/html5shiv.js"></script>
		<script src="assets/js/respond.min.js"></script>
	<![endif]-->
</head>

<body>

	<header class="header header-black">
		<div class="header-wrapper">
			<div class="container">
				<div class="col-sm-2 col-xs-12 navigation-header">
					<a href="/" class="logo">
						<img src="{% static 'assets/img/ventcamp_logo.png' %}" alt="VentCamp" class="retina-hide">
						<img src="{% static 'assets/img/ventcamp_logo@2x.png' %}" alt="VentCamp" class="retina-show">
					</a>
					<button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation" aria-expanded="false" aria-controls="navigation">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>

				<div class="col-sm-10 col-xs-12 navigation-container">
					<div id="navigation" class="navbar-collapse collapse">
						<ul class="navigation-list pull-left light-text">
							
							<li class="navigation-item dropdown">
								<a class="navigation-link dropdown-toggle" data-toggle="dropdown">About</a>
								<ul class="dropdown-menu">
									<li class="navigation-item"><a href="/about/" class="navigation-link">Our Conference</a></li>
									<li class="navigation-item"><a href="/schedule/" class="navigation-link">Schedule</a></li>
								</ul>
							</li>


<li class="navigation-item"><a href="/team/" class="navigation-link">Our Team</a></li>
							
								<li class="navigation-item dropdown">
									<a class="navigation-link dropdown-toggle" data-toggle="dropdown">Committees</a>
									<ul class="dropdown-menu">
										<li class="navigation-item"><a href="/ga/" class="navigation-link">General Assemblies</a></li>
										<li class="navigation-item"><a href="/sa/" class="navigation-link">Specialised Agencies</a></li>
										<li class="navigation-item"><a href="/crisis/" class="navigation-link">Crisis Committees</a></li>
									</ul>
								</li>
								<li class="navigation-item"><a href="/travel/" class="navigation-link">Travel</a></li>
		<li class="navigation-item"><a href="/contact/" class="navigation-link">Contact Us</a></li>
							<li class="navigation-item"><a href="/faq/" class="navigation-link">FAQ</a></li>
						</ul>

						<a href="/reg/" class="pull-right buy-btn">Registration</a>
					</div>
				</div>
			</div>
		</div>
	</header>


	{% block content %}{% endblock %}
<!-- 	<section class="section align-center">
		<div class="container">
			<h5 class="heading-alt">Registration Form</h5>
			<p class="text-alt" style="margin-bottom: 0px;"><span class="highlight">Thank you</span> for your interest and trust in SSUNS 2016. If you have any questions or concerns, you can contact our Chargee D'Affaires Wendy Zhang at schools@ssuns.org. Please note that you only need to fill out this application once and that if any of the information changes after registration, simply inform Wendy Zhang at schools@ssuns.org. After you register and click submit, you will receive a confirmation email at the email address that you have provided.</p>
		</div>
	</section> -->

</div>
<br/>
<br/>
		<script type="text/javascript" src="{% static 'assets/js/jquery-2.1.4.min.js' %}"></script>
	<!--<![endif]-->

	<script type="text/javascript" src="{% static 'assets/js/bootstrap.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/jquery.validate.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/toastr.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/jquery.waypoints.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/jquery.appear.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/jquery.plugin.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/masonry.pkgd.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/jquery.countTo.js' %}"></script>
	<!-- <script type="text/javascript" src="{% static 'assets/js/ventcamp.js' %}"></script> -->
</body>
</html>
