{% load crispy_forms_tags %}

{% load staticfiles %}
<!doctype html>
<html lang="en">
<head>

	<meta charset="utf-8">
	<!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
	<title>Position Paper Received</title>

	<meta name="description" content="SSUNS 2016">
	<meta name="keywords" content="modelUN, unitednations, mcgill">
	<meta name="author" content="Patrick Baral">

	<link rel="shortcut icon" href="{% static 'assets/img/favicon.ico' %}">
	<link rel="apple-touch-icon" href="{% static 'assets/img/apple-touch-icon.jpg' %}">
	<link rel="apple-touch-icon" sizes="72x72" href="{% static 'assets/img/apple-touch-icon-72x72.jpg' %}">
	<link rel="apple-touch-icon" sizes="114x114" href="{% static 'assets/img/apple-touch-icon-114x114.jpg' %}">

	<link rel="stylesheet" type="text/css" href="{% static 'assets/css/custom-animations.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'assets/css/style-blue-color.css' %}" />

	

	<!--[if lt IE 9]>
		<script src="assets/js/html5shiv.js"></script>
		<script src="assets/js/respond.min.js"></script>
	<![endif]-->
</head>

<body>

	<header class="header header-black">
		<div class="header-wrapper">
			<div class="container">
				<div class="col-sm-2 col-xs-12 navigation-header">
					<a href="#" class="logo">
						<img src="{% static 'assets/img/ventcamp_logo.png' %}" alt="VentCamp" class="retina-hide">
						<img src="{% static 'assets/img/ventcamp_logo@2x.png' %}" alt="VentCamp" class="retina-show">
					</a>
					<button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation" aria-expanded="false" aria-controls="navigation">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>

				<div class="col-sm-10 col-xs-12 navigation-container">
					<div id="navigation" class="navbar-collapse collapse">

						<a href="{% url "django.contrib.auth.views.logout" %}?next=/accounts/logout" class="pull-right buy-btn">Log Out</a>
					</div>
				</div>
			</div>
		</div>
	</header>

	<section class="section align-center">
		<div class="container">
			<h5 class="heading-alt">SSUNS Position Paper - Received</h5>
			<p class="text-alt" style="margin-bottom: 0px;"><span class="highlight">Please log out</span> for the site to update.</p>
		</div>
	</section>


		<script type="text/javascript" src="{% static 'assets/js/jquery-2.1.4.min.js' %}"></script>
	<!--<![endif]-->

	<script type="text/javascript" src="{% static 'assets/js/bootstrap.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/jquery.validate.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/toastr.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/jquery.waypoints.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/jquery.appear.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/jquery.plugin.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/masonry.pkgd.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/jquery.countTo.js' %}"></script>
	<!-- <script type="text/javascript" src="{% static 'assets/js/ventcamp.js' %}"></script> -->
</body>
</html>
