{% load staticfiles %}
<!doctype html>
<html lang="en">
<head>

	<meta charset="utf-8">
	<!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
	<title>SSUNS 2016</title>

	<meta name="description" content="SSUNS 2016">
	<meta name="keywords" content="modelUN, unitednations, mcgill">
	<meta name="author" content="Patrick Baral">

	<link rel="shortcut icon" href="{% static 'assets/img/favicon.ico' %}">
	<link rel="apple-touch-icon" href="{% static 'assets/img/apple-touch-icon.jpg' %}">
	<link rel="apple-touch-icon" sizes="72x72" href="{% static 'assets/img/apple-touch-icon-72x72.jpg' %}">
	<link rel="apple-touch-icon" sizes="114x114" href="{% static 'assets/img/apple-touch-icon-114x114.jpg' %}">

	<link rel="stylesheet" type="text/css" href="{% static 'assets/css/custom-animations.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'assets/css/style-blue-color.css' %}" />

	<!--[if lt IE 9]>
		<script src="assets/js/html5shiv.js"></script>
		<script src="assets/js/respond.min.js"></script>
	<![endif]-->
</head>

<body>

	<header class="header header-black">
		<div class="header-wrapper">
			<div class="container">
				<div class="col-sm-2 col-xs-12 navigation-header">
					<a href="/" class="logo">
						<img src="{% static 'assets/img/ventcamp_logo.png' %}" alt="VentCamp" class="retina-hide">
						<img src="{% static 'assets/img/ventcamp_logo@2x.png' %}" alt="VentCamp" class="retina-show">
					</a>
					<button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation" aria-expanded="false" aria-controls="navigation">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>

				<div class="col-sm-10 col-xs-12 navigation-container">
					<div id="navigation" class="navbar-collapse collapse">
						<ul class="navigation-list pull-left light-text">
							<li class="navigation-item dropdown">
								<a class="navigation-link dropdown-toggle" data-toggle="dropdown">About</a>
								<ul class="dropdown-menu">
									<li class="navigation-item"><a href="/about/" class="navigation-link">Our Conference</a></li>
									<li class="navigation-item"><a href="/schedule/" class="navigation-link">Schedule</a></li>
								</ul>
							</li>							


<li class="navigation-item"><a href="/team/" class="navigation-link">Our Team</a></li>
							
								<li class="navigation-item dropdown">
									<a class="navigation-link dropdown-toggle" data-toggle="dropdown">Committees</a>
									<ul class="dropdown-menu">
										<li class="navigation-item"><a href="/ga/" class="navigation-link">General Assemblies</a></li>
										<li class="navigation-item"><a href="/sa/" class="navigation-link">Specialised Agencies</a></li>
										<li class="navigation-item"><a href="/crisis/" class="navigation-link">Crisis Committees</a></li>
									</ul>
								</li>

							<li class="navigation-item"><a href="/travel/" class="navigation-link">Travel</a></li>
							<li class="navigation-item"><a href="/contact/" class="navigation-link">Contact Us</a></li>
							<li class="navigation-item"><a href="/faq/" class="navigation-link">FAQ</a></li>						
</ul>

						<a href="/reg/" class="pull-right buy-btn">Registration</a>
					</div>
				</div>
			</div>
		</div>
	</header>

	<section class="section align-center">
	<div class="container">
		<h5 class="heading-alt">The Secretariat</h5>
		<p class="text-alt">Meet our <span class="highlight">Team</span></p>
		<br />
		<br />

		<div class="col-sm-6">
			<div class="speaker">
				<div class="photo-wrapper"><img src="{% static 'assets/img/speakers/speaker1.jpg' %}" alt="Patrick Baral" class="img-responsive"></div>
				<h3 class="name">Patrick Baral</h3>
				<p class="text-alt"><small>Secretary-General</small></p>
				<p class="about">Email: sg@ssuns.org</p>
				<ul class="speaker-socials">
					<li><a href="https://www.facebook.com/patrick.baral?fref=ts"><span class="fa fa-facebook"></span></a></li>
					<li><a href="https://twitter.com/ssuns_official"><span class="fa fa-twitter"></span></a></li>
					<li><a href="https://www.instagram.com/patrickbaral/"><span class="fa fa-instagram"></span></a></li>
				</ul>
			</div>
		</div>

		<div class="col-sm-6">
			<div class="speaker">
				<div class="photo-wrapper"><img src="{% static 'assets/img/speakers/speaker2.jpg' %}" alt="Dexter Docherty" class="img-responsive"></div>
				<h3 class="name">Dexter Docherty</h3>
				<p class="text-alt"><small>Undersecretary-General, Committees</small></p>
				<p class="about">Email: committees@ssuns.org</p>	
				<ul class="speaker-socials">
					<li><a href="https://www.facebook.com/dexter.docherty?fref=ts"><span class="fa fa-facebook"></span></a></li>
					<li><a href="https://twitter.com/Dexterdocherty"><span class="fa fa-twitter"></span></a></li>
					<li><a href="https://www.instagram.com/dexterdocherty/"><span class="fa fa-instagram"></span></a></li>
				</ul>
			</div>
		</div>

		<div class="col-sm-6">
			<div class="speaker">
				<div class="photo-wrapper"><img src="{% static 'assets/img/speakers/speaker3.jpg' %}" alt="Wendy Zhang" class="img-responsive"></div>
				<h3 class="name">Wendy Zhang</h3>
				<p class="text-alt"><small>Chargee d'Affaires</small></p>
				<p class="about">Email: schools@ssuns.org</p>
				<ul class="speaker-socials">
					<li><a href="https://www.facebook.com/wendayyz?fref=ts"><span class="fa fa-facebook"></span></a></li>
					<li><a href="https://twitter.com/ssuns_official"><span class="fa fa-twitter"></span></a></li>
					<li><a href="https://instagram.com/ssuns_official/"><span class="fa fa-instagram"></span></a></li>
				</ul>
			</div>
		</div>

		<div class="col-sm-6">
			<div class="speaker">
				<div class="photo-wrapper"><img src="{% static 'assets/img/speakers/speaker4.jpg' %}" alt="Christopher Balian" class="img-responsive"></div>
				<h3 class="name">Christopher Balian</h3>
				<p class="text-alt"><small>Director of Public Relations</small></p>
				<p class="about">Email: pr@ssuns.org</p>
				<ul class="speaker-socials">
					<li><a href="https://www.facebook.com/christopher.balian.75?fref=ts"><span class="fa fa-facebook"></span></a></li>
					<li><a href="https://twitter.com/askbalian"><span class="fa fa-twitter"></span></a></li>
					<li><a href="https://instagram.com/ssuns_official/"><span class="fa fa-instagram"></span></a></li>
				</ul>
			</div>
		</div>

		<div class="col-sm-6">
			<div class="speaker">
				<div class="photo-wrapper"><img src="{% static 'assets/img/speakers/speaker5.jpg' %}" alt="Jonah Dabora" class="img-responsive"></div>
				<h3 class="name">Jonah Dabora</h3>
				<p class="text-alt"><small>Chief of Staff</small></p>
				<!-- <p class="about">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p> -->
				<ul class="speaker-socials">
					<li><a href="https://www.facebook.com/yoni.dabora?fref=ts"><span class="fa fa-facebook"></span></a></li>
					<li><a href="https://twitter.com/YoniDabora"><span class="fa fa-twitter"></span></a></li>
					<li><a href="https://instagram.com/ssuns_official/"><span class="fa fa-instagram"></span></a></li>
				</ul>
			</div>
		</div>

		<div class="col-sm-6">
			<div class="speaker">
				<div class="photo-wrapper"><img src="{% static 'assets/img/speakers/speaker6.jpg' %}" alt="Afuad Hossain" class="img-responsive"></div>
				<h3 class="name">Afuad Hossain</h3>
				<p class="text-alt"><small>Chief of Operations</small></p>
		<!-- 		<p class="about">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p> -->
				<ul class="speaker-socials">
					<li><a href="https://www.facebook.com/afuad.hossain?fref=ts"><span class="fa fa-facebook"></span></a></li>
					<li><a href="https://twitter.com/ssuns_official"><span class="fa fa-twitter"></span></a></li>
					<li><a href="https://instagram.com/ssuns_official/"><span class="fa fa-instagram"></span></a></li>
				</ul>
			</div>
		</div>

		<div class="col-sm-6">
			<div class="speaker">
				<div class="photo-wrapper"><img src="{% static 'assets/img/speakers/speaker7.jpg' %}" alt="Sheldon Benard" class="img-responsive"></div>
				<h3 class="name">Sheldon Benard</h3>
				<p class="text-alt"><small>Undersecretary-General, Information and Technology</small></p>
				<p class="about">Email: it@ssuns.org</p>

				<ul class="speaker-socials">
					<li><a href="https://www.facebook.com/sheldon.benard"><span class="fa fa-facebook"></span></a></li>
					<li><a href="https://twitter.com/BenardSheldon"><span class="fa fa-twitter"></span></a></li>
					<li><a href="https://instagram.com/ssuns_official/"><span class="fa fa-instagram"></span></a></li>
				</ul>
			</div>
		</div>

		<div class="col-sm-6">
			<div class="speaker">
				<div class="photo-wrapper"><img src="{% static 'assets/img/speakers/speaker8.jpg' %}" alt="Adam Carris" class="img-responsive"></div>
				<h3 class="name">Adam Carris</h3>
				<p class="text-alt"><small>Undersecretary-General, Finance</small></p>
				<p class="about">Email: finance@ssuns.org</p>
				<ul class="speaker-socials">
					<li><a href="https://www.facebook.com/ccouv?fref=ts"><span class="fa fa-facebook"></span></a></li>
					<li><a href="https://twitter.com/ssuns_official"><span class="fa fa-twitter"></span></a></li>
					<li><a href="https://instagram.com/ssuns_official/"><span class="fa fa-instagram"></span></a></li>
				</ul>
			</div>
		</div>

		<div class="col-sm-6">
			<div class="speaker">
				<div class="photo-wrapper"><img src="{% static 'assets/img/speakers/speaker9.jpg' %}" alt="Anuradha Mallik" class="img-responsive"></div>
				<h3 class="name">Anuradha Mallik</h3>
				<p class="text-alt"><small>Deputy Chargee d'Affaires</small></p>
				<!-- <p class="about">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p> -->
				<ul class="speaker-socials">
					<li><a href="https://www.facebook.com/anuradha.d.mallik?fref=ts"><span class="fa fa-facebook"></span></a></li>
					<li><a href="https://twitter.com/ssuns_official"><span class="fa fa-twitter"></span></a></li>
					<li><a href="https://instagram.com/ssuns_official/"><span class="fa fa-instagram"></span></a></li>
				</ul>
			</div>
		</div>

		<div class="col-sm-6">
			<div class="speaker">
				<div class="photo-wrapper"><img src="{% static 'assets/img/speakers/speaker10.jpg' %}" alt="Meghan Keenan" class="img-responsive"></div>
				<h3 class="name">Meghan Keenan</h3>
				<p class="text-alt"><small>Deputy USG Committees, GAs and ECOSOCs</small></p>
				<!-- <p class="about">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p> -->
				<ul class="speaker-socials">
					<li><a href="https://www.facebook.com/meghan.keenan.524?fref=ts"><span class="fa fa-facebook"></span></a></li>
					<li><a href="https://twitter.com/ssuns_official"><span class="fa fa-twitter"></span></a></li>
					<li><a href="https://instagram.com/ssuns_official/"><span class="fa fa-instagram"></span></a></li>
				</ul>
			</div>
		</div>

		<div class="col-sm-6">
			<div class="speaker">
				<div class="photo-wrapper"><img src="{% static 'assets/img/speakers/speaker11.jpg' %}" alt="Wilder Walker-Stewart" class="img-responsive"></div>
				<h3 class="name">Wilder Walker-Stewart</h3>
				<p class="text-alt"><small>Deputy USG Committees, SAs</small></p>
		<!-- 		<p class="about">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p> -->
				<ul class="speaker-socials">
					<li><a href="https://www.facebook.com/wilder.walkerstewart.5?fref=ts"><span class="fa fa-facebook"></span></a></li>
					<li><a href="https://twitter.com/ssuns_official"><span class="fa fa-twitter"></span></a></li>
					<li><a href="https://instagram.com/ssuns_official/"><span class="fa fa-instagram"></span></a></li>
				</ul>
			</div>
		</div>

		<div class="col-sm-6">
			<div class="speaker">
				<div class="photo-wrapper"><img src="{% static 'assets/img/speakers/speaker12.jpg' %}" alt="Marianne Lau" class="img-responsive"></div>
				<h3 class="name">Marianne Alexandra Lau Rueda</h3>
				<p class="text-alt"><small>Deputy USG Committees, Crises</small></p>
				<!-- <p class="about">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p> -->
				<ul class="speaker-socials">
					<li><a href="https://www.facebook.com/mariannealexandra.rueda?fref=ts"><span class="fa fa-facebook"></span></a></li>
					<li><a href="https://twitter.com/ssuns_official"><span class="fa fa-twitter"></span></a></li>
					<li><a href="https://instagram.com/ssuns_official/"><span class="fa fa-instagram"></span></a></li>
				</ul>
			</div>
		</div>

		<div class="col-sm-6">
			<div class="speaker">
				<div class="photo-wrapper"><img src="{% static 'assets/img/speakers/speaker13.jpg' %}" alt="Gelila Bedada" class="img-responsive"></div>
				<h3 class="name">Gelila Bedada</h3>
				<p class="text-alt"><small>Deputy Public Relations</small></p>
				<!-- <p class="about">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p> -->
				<ul class="speaker-socials">
					<li><a href="https://www.facebook.com/gelila.bedada?fref=ts"><span class="fa fa-facebook"></span></a></li>
					<li><a href="https://twitter.com/ssuns_official"><span class="fa fa-twitter"></span></a></li>
					<li><a href="https://instagram.com/ssuns_official/"><span class="fa fa-instagram"></span></a></li>
				</ul>
			</div>
		</div>

		<div class="col-sm-6">
			<div class="speaker">
				<div class="photo-wrapper"><img src="{% static 'assets/img/speakers/speaker14.jpg' %}" alt="Natasha Chatur" class="img-responsive"></div>
				<h3 class="name">Natasha Chatur</h3>
				<p class="text-alt"><small>Deputy Public Relations</small></p>
				<!-- <p class="about">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p> -->
				<ul class="speaker-socials">
					<li><a href="https://www.facebook.com/natasha.chatur?fref=ts"><span class="fa fa-facebook"></span></a></li>
					<li><a href="https://twitter.com/ssuns_official"><span class="fa fa-twitter"></span></a></li>
					<li><a href="https://instagram.com/ssuns_official/"><span class="fa fa-instagram"></span></a></li>
				</ul>
			</div>
		</div>

	</div>
</section>

	<!--[if lt IE 9]>
		<script type="text/javascript" src="assets/js/jquery-1.11.3.min.js?ver=1"></script>
	<![endif]-->
	<!--[if (gte IE 9) | (!IE)]><!-->
		<script type="text/javascript" src="{% static 'assets/js/jquery-2.1.4.min.js' %}"></script>
	<!--<![endif]-->

	<script type="text/javascript" src="{% static 'assets/js/bootstrap.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/jquery.validate.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/toastr.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/jquery.waypoints.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/jquery.appear.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/jquery.plugin.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/masonry.pkgd.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/jquery.countTo.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/ventcamp.js' %}"></script>
</body>
</html>

